.video-top-margin{margin-top: 30px}

.vide-fix{
  position: fixed;
}

@media screen and (max-width: 650px) {
  body {

  }
 .custom-row {
    margin-right: -30px !important;
    margin-left: -30px !important;
  }


  .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    /*  margin-right: auto;
      margin-left: auto;*/
  }
  .col-sm-8{
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    /* margin-right: auto; */
    /* margin-left: auto; */
  }

  .video-top-margin {margin-top:27px}
}

